<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Wypozyczalnia.Properties.Settings.WypozyczalniaConnectionString"
            connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=Wypozyczalnia;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
</configuration>